<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Page</title>
</head>
<body>
    <h1>Select the option</h1>
    <a href="/student"> Student</a>
    <a href="/teacher">Teacher </a>
    <a href="/tech"> Tech</a>
</body>
<script src="../1.js"></script>
</html>